<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img class="card-img-top img-fluid" src="https://images.pexels.com/photos/15312443/pexels-photo-15312443/free-photo-of-centrale-plante-bouquet-decoration.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Design </small>
                    <small class="bg-light text-success text-center ml-2"> Featured </small>
                    <small class="bg-light text-info text-center ml-2"> Views - 100, 256 </small>
                    <small class="bg-light text-warning text-center ml-2"> LAST UPDATED - SEP 20, 2021 </small>

                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, soluta. Vel a delectus eaque,
                        deserunt reiciendis nemo at, repellat similique hic sapiente, perspiciatis ad possimus molestiae
                        voluptate asperiores tenetur recusandae.</p>
                </div>
            </div>
            <app-comment-form></app-comment-form>

            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>